{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Randomovies - Ré-initialiser votre mot de passe{% endblock %}

{% block body %}

    <div id="contenu" class="container">		
		<div id="motdepasseoublie" class="row">			
			<div class="offset-lg-3 col-lg-6 mt-3">
				<div class="card">
					<img class="card-img-top" src="/images/motdepasseoublie-card-header.jpg" />
					<div class="card-body">
					    
                        <h3>Ré-initialisation de votre mot de passe</h3>

                        <p>Renseignez ici votre nouveau mot de passe :</p>

                        {{ form_start(form) }}

                            {{ form_widget(form.plainPassword, {'attr': {'class': 'randomovies-default-field'}}) }}
                            {{ form_widget(form.reset, {'attr': {'class': 'randomovies-default-btn'}}) }}
                            {{ form_widget(form.submit, {'attr': {'class': 'randomovies-default-btn float-right'}}) }}
                                        
                        {{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}