{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Randomovies - Mot de passe oublié ?{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-xl-6 offset-xl-3 col-lg-10 m-5">

            <h2>Ré-initialiser votre mot de passe</h2>
            <p>Indiquez ici votre adresse mail :</p>

            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12 mb-3">
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="float-right ml-1">
                        	{{ form_row(form.submit) }}    
                        </div>
                        {{ form_row(form.reset) }}                        
                    </div>
                </div>
            {{ form_end(form) }}
            
            <br />

        </div>
    </div>

{% endblock %}