{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Randomovies - Mot de passe oublié ?{% endblock %}

{% block body %}

    <div id="contenu" class="container">		
		<div id="motdepasseoublie" class="row">			
			<div class="offset-lg-3 col-lg-6 mt-3">
				<div class="card">
					<img class="card-img-top" src="/images/motdepasseoublie-card-header.jpg" />
					<div class="card-body">

					    <h3 class="mb-4">Mot de passe oublié</h3>

                         <p>Indiquez ici votre adresse mail :</p>

                        {{ form_start(form) }}

                            {{ form_widget(form.email, {'attr': {'class': 'randomovies-default-field'}}) }}
                            {{ form_widget(form.reset, {'attr': {'class': 'randomovies-default-btn'}}) }}
                            {{ form_widget(form.submit, {'attr': {'class': 'randomovies-default-btn float-right'}}) }}
                                        
                        {{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}