{% extends 'layout.html.twig' %}

{% block title %}Randomovies - Inscription{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">

                {{ form_start(form) }}

                <div id="card-login" class="card mt-3 mb-5">
                    <div class="card-header">
                        <h3 class="text-center mt-2 mb-1">Inscription</h3>
                    </div>
                    <div class="card-body">
                        <div class="row m-1">
                            <div class="col">
                                Profitez pleinement des fonctionnalités de Randomovies, zone membre, commentez les films que vous avez aimé, recommandations personnalisées...
                            </div>
                        </div>
                        <div class="row m-1">
                            <div id="register-form-errors" class="col">
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4 text-right">
                                {{ form_label(form.username) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4 text-right">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4 text-right">
                                {{ form_label(form.plainPassword.first) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4 text-right">
                                {{ form_label(form.plainPassword.second) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-outline-secondary" type="reset">Remettre à zéro</button>
                        <button class="btn btn-outline-primary" type="submit">S'inscrire</button>
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}