{% extends 'layout.html.twig' %}

{% block title %}Randomovies - Inscription{% endblock %}

{% block body %}

	<div id="contenu" class="container">		
		<div id="connexion" class="row">			
			<div class="offset-lg-3 col-lg-6 mt-3">
				<div class="card">
					<img class="card-img-top" src="/images/inscription-card-header.jpg" />
					<div class="card-body">

						<h3 class="mb-1">Inscription</h3>
                        <small>Profitez pleinement des fonctionnalités de Randomovies, zone membre, commentez les films que vous avez aimé, recommandations personnalisées...</small>
						<br /><br />
                        
                        {{ form_start(form) }}

						<div class="row">
                            <div class="col-md-12">
                                {{ form_errors(form.username) }}
                            </div>
							<div class="col-md-4">
								Nom d'utilisateur
							</div>
							<div class="col-md-8">
                                {{ form_widget(form.username, {'attr': {'class': 'randomovies-default-field'}}) }}
							</div>
							<div class="col-md-4">
								Adresse email
							</div>
							<div class="col-md-8">
                                {{ form_widget(form.email, {'attr': {'class': 'randomovies-default-field'}}) }}								
							</div>
							<div class="col-md-4">
								Mot de passe
							</div>
							<div class="col-md-8">
								{{ form_widget(form.plainPassword.first, {'attr': {'class': 'randomovies-default-field'}}) }}
							</div>
							<div class="col-md-4">
								Confirmation du mot de passe
							</div>
							<div class="col-md-8">
								{{ form_widget(form.plainPassword.second, {'attr': {'class': 'randomovies-default-field'}}) }}
							</div>
							<div class="col-md-12">
								<button type="reset" class="randomovies-default-btn">Remettre à zéro</button>
								<button type="submit" class="randomovies-default-btn float-right">S'inscrire</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>		

{% endblock %}