{% extends 'layout.html.twig' %}

{% block title %}Admin - Movies List{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron">

             <span class="pull-right">
                <br />
                <a class="btn btn-success" href="{{ path('admin_movie_index') }}">Movies list</a>
                <a class="btn btn-success" href="{{ path('admin_person_new') }}">Create a new person</a>
            </span>
            <h1>People list</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Birthdate</th>
                        <th>Gender</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for person in people %}
                    <tr>
                        <td><a href="{{ path('admin_person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                        <td>{{ person.firstname }}</td>
                        <td>{{ person.lastname }}</td>
                        <td>{% if person.birthdate %}{{ person.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ person.gender }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_person_show', { 'id': person.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_person_edit', { 'id': person.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('admin_person_new') }}">Create a new person</a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}
