{% extends 'layout.html.twig' %}

{% block title %}Admin - Movies List{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron">

            <h1>Person</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ person.id }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ person.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ person.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Birthdate</th>
                        <td>{% if person.birthdate %}{{ person.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{ person.gender }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('admin_person_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('admin_person_edit', { 'id': person.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>

        </div>
    </div>

{% endblock %}
