{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Tous les films{% endblock %}

{% block body %}

	<div id="all-movies">
		<br />
		<div class="row">
            {% for movie in movies %}
				<div class="col-md-2 all-movies-one">
					<a href="{{ path('show', { 'id' : movie.id }) }}">
						<img src="{{ asset('images/posters/' ~ movie.poster) }}" />
						<div>
							{{ movie.title }}<br />{{ movie.year }}<br />{{ movie.genre }}
						</div>
					</a>
				</div>
            {% endfor %}
		</div>

		<ul class="custom-pagination">
			<li>
				<a href="{{ path('list_movies') }}?page={{ page > 1 ? page-1 : '1' }}">Précédent</a>
			</li>

			{% for pageNumber in 1..totalPages %}
				<li>
					<a href="{{ path('list_movies') }}?page={{ pageNumber }}">{{ pageNumber }}</a>
				</li>
			{% endfor %}

			<li>
				<a href="{{ path('list_movies') }}?page={{ page < totalPages ? page+1 : totalPages }}">Suivant</a>
			</li>
		</ul>
	</div>

{% endblock %}
