{% extends 'layout.html.twig' %}

{% block title %}RandoMovies{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-5">
			<br />
            {% if movie.poster != "" %}
				<a href="/images/posters/{{ movie.poster }}" target="_blank">
					<img class="main-movie-cover" src="{{ asset('images/posters/medium/' ~ movie.poster) }}" />
				</a>
            {% endif %}
		</div>

		<div class="col-md-6">
			<br />
			<div class="main-movie-infos">
				<div class="main-movie-stars">
                    {% for i in 1..movie.rating %}
						<img src="/images/yellow-star.png" />
                    {% endfor %}
				</div>
				<div class="main-movie-title">
					<h2>
						{{ movie.title }} {% if is_granted('ROLE_CONTRIBUTOR') %}<a class="btn btn-outline-secondary" href="{{ path('admin_movie_edit', { 'id': movie.id }) }}">edit</a>{% endif %}
					</h2>
				</div>
				<div class="main-movie-tags">
					{% set totalTags = movie.tags|length %}
					{% for index, tag in movie.tags %}
						{{ tag.name }}{% if index+1 < totalTags %}, {% endif %}
					{% endfor %}
					<br /><br />
				</div>
				<div class="main-movie-synopsis">
					<h4><i class="fas fa-play"></i> Synopsis</h4>
					<p>
                        {{ movie.synopsis|raw }}
					</p>
				</div>
				<div class="main-movie-details">
					<h4><i class="fas fa-play"></i> Infos</h4>
					<p>Genre : {{ movie.genre }}</p>
					<p>Durée : {{ movie.duration }} min</p>
					<p>Réalisateur : {{ movie.director }}</p>
					<p>
						Acteurs :&nbsp;
                        {% for role in movie.roles %}
                            {% if role.role == "actor" %}
                                {{ role.person.fullname }},&nbsp
                            {% endif %}
                        {% endfor %}
				</div>

				<div class="main-movie-critique">
					<h4><i class="fas fa-play"></i> Critique</h4>
					<p>
                        {{ movie.review }}
					</p>
				</div>

				<br />
				<a href="{{ path('homepage') }}" class="another-random-movie-button">
					Un Autre Film Au Hasard
				</a>
			</div>
		</div>
	</div>

	<br />
	<br />

	<div id="suggestions-bar" class="row">
		<div class="col-md-12">
			<h3 class="text-center">Vous Aimerez Peut-Être Aussi</h3>
		</div>

        {% for index, rando in fourRandoMovies %}
            {% if index != 4 %}
                {% if movie is defined %}
                    {%  if rando.id != movie.id %}
						<div class="col one-suggestion">
							<a href="{{ path('show', { 'id' : rando.id }) }}">
								<img class="suggestion-cover" src="{{ asset('images/posters/small/' ~ rando.poster) }}" />
								<p>{{ rando.title }}</p>
								<small>{{ rando.genre }}, {{ rando.year }}, {{ rando.duration }} min</small>
							</a>
						</div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
	</div>

    {% if app.user %}
        {% include 'comment/module.html.twig' with {'comments': movie.comments, 'comment_form': comment_form} %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('js/stars_widget.js') }}"></script>
{% endblock %}