{% extends 'layout.html.twig' %}

{% block title %}Admin - Movies List{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="simply-white">

                    <h2 class="text-center mt-4">Register</h2>

                    {{ form_start(form) }}

                        <div class="row mt-3">
                            <div class="col-md-4 text-right">
                                {{ form_label(form.username) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4 text-right">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4 text-right">
                                {{ form_label(form.plainPassword.first) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4 text-right">
                                {{ form_label(form.plainPassword.second) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mt-3 mb-3">
                            <div class="col-md-4 text-right">
                            </div>
                            <div class="col-md-8">
                                <button class="btn btn-outline-primary" type="submit">Register</button>
                                    &nbsp;
                                <button class="btn btn-outline-secondary" type="reset">Reset</button>
                            </div>
                        </div>

                    {{ form_end(form) }}

                </div>

            </div>
        </div>
    </div>

{% endblock %}