{% extends 'layout.html.twig' %}

{% block title %}Randomovies - Modification du commentaire{% endblock %}
{% block main_id %}main-container-private{% endblock %}

{% block body_class %}private{% endblock %}

{% block body %}

	<div id="contenu" class="container">		
		<div id="mon-compte">

            <h3 class="mt-4">Editer un commentaire</h3>

            {{ form_start(comment_form, {'attr': {'class': 'comment-form'}}) }}

                <div class="row">
                    <div class="col-md-12">
                        {{ form_errors(comment_form) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_label(comment_form.note) }}
                    </div>
                    <div class="col-md-8">                        
                        {{ form_widget(comment_form.note, {'attr': {'class': 'randomovies-default-field'}}) }}
                        <div id="stars-zone">						
                            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {{ form_label(comment_form.comment) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_widget(comment_form.comment, {'attr': {'class': 'randomovies-default-field'}}) }}
                    </div>
                    <div class="offset-md-4 col-md-8">
                        <a href="{{ back_path }}" class="randomovies-default-btn">Retour</a>
                        <input class="randomovies-default-btn" type="submit" value="Enregistrer"/>
                    </div>
                </div>

                

            {{ form_end(comment_form) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/stars_widget.js') }}"></script>
{% endblock %}