<div id="comments" class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">    
    	
    	<br />
		
		<h3>Ecrire un commentaire</h3>
        
        <br />
		
        {% include 'comment/new.html.twig' with {'comment_form': comment_form} %}
        
        <br />

        <div class="comments-total-notes float-right text-center">
            <div class="text-right">
                Total des notes des utilisateurs pour ce film :
            </div>
            <strong>{{ comments_data.usersNote }} / 5</strong>
            <br /><br />
        </div>

        <h3 id="comments-title">Commentaires</h3>
        <div class="clearfix"></div>
        {% for comment in comments %}
            <div id="commentId{{ comment.id }}" class="comment">
                <div class="float-right">Le {{ comment.updatedAt|date('d/m/Y à H:m') }}</div>
                <p class="comment-pseudo">
                    <img src="{{ comment.user.photo ? asset('images/users/photos/small/' ~ app.user.photo) : "/images/my-profile.png" }}" />{{ comment.user.username }} {% if app.user == comment.user %}[<a href="{{ path('comment-edit', {'id': comment.id}) }}">modifier le commentaire</a>]{% endif %}
                </p>
                {% if comment.note %}
                    <p class="comment-note float-right">La note de {{ comment.user.username }} : {{ comment.note }} / 5</p>
                {% endif %}
                <p class="comment-comment">{{ comment.comment }}</p>
                {% if comment.note %}
                    <div class="clearfix"></div>
                {% endif %}
            </div>
        {% endfor %}
        
        <div class="text-center">
	        {% for pageNumber in 1..comments_data.totalPages %}				
				<a {{ comments_data.currentPage == pageNumber ? 'class=active' : 'href=?cpage=' ~ pageNumber ~ '#comments-title' }}>{{ pageNumber }}</a>{% if pageNumber < comments_data.totalPages %} - {% endif %}				
			{% endfor %}
		</div>
		
		<br />
        
    </div>
</div>