{{ form_start(comment_form, {'attr': {'class': 'comment-form'}}) }}

<div class="row">
    <div class="col-md-12">
        {{ form_errors(comment_form) }}
    </div>
</div>
<div class="row" id="new-comment-form">
    <div class="col-md-2 text-right">
        {{ form_label(comment_form.comment) }}
    </div>
    <div class="col-md-10">
        {{ form_widget(comment_form.comment, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2 text-right">
        {{ form_label(comment_form.note) }}
    </div>
    <div class="col-md-10">
        <div id="note-input-zone">
            {{ form_widget(comment_form.note, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div id="note-stars-zone">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
        </div>
    </div>
</div>

<div class="float-right">
	<input class="btn randomovies-btn-reset mt-3" type="reset" Value="Remettre à zéro"/>
	<input class="btn randomovies-btn-confirm mt-3" type="submit" value="Envoyer"/>
</div>

<div class="clearfix"></div>

{{ form_end(comment_form) }}