<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Randomovies">
		<meta name="author" content="CopierAndColler">
		<!--<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />-->

		<title>{% block title %}Welcome!{% endblock %}</title>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
        {% block stylesheets %}{% endblock %}
	</head>

	<body>
		<main id ="full-body">
            {% include 'default/menu.html.twig' %}

			<div class="row mt-5 pb-3">
				<div class="col-md-2">
					<h2 class="subtitle-1 text-center">Vous Aimeriez Peut-Être Aussi</h2>
					{% for index, rando in fourRandoMovies %}
						{% if index != 4 %}
							{% if movie is defined %}
								{%  if rando.id != movie.id %}
									<a href="{{ path('show', { 'id' : rando.id }) }}">
										<img class="suggestion-cover" src="{{ asset('images/posters/' ~ rando.poster.filename) }}" />
									</a>
								{% endif %}
							{% else %}
								<a href="{{ path('show', { 'id' : rando.id }) }}">
									<img class="suggestion-cover" src="{{ asset('images/posters/' ~ rando.poster.filename) }}" />
								</a>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>

                {% block body %}{% endblock %}

				<div class="col-md-2">
					<h2 class="subtitle-1">Recherche</h2>
					<form class="custom-form-inline" method="post" action="{{ path('search') }}">
						<input name="title" class="" type="text" placeholder="Titre de film" aria-label="Search">
						<input type="submit">Rechercher</input>
					</form>

					<h2 class="subtitle-1">Catégories</h2>

					<ul class="list-of-categories">
						{% for category in distinctCategories %}
							<li>
								<a href="{{ path('homepage') }}?category={{ category.genre|camelize }}">
									{{ category.genre }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</main>

		<footer class="">
			<p>&copy; Company 2017</p>
		</footer>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
	</body>
</html>
