{% extends 'admin/layout/edit.html.twig' %}

{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}

{% block title %}Admin - Movie Edit{% endblock %}
{% block edit_title %}Editer un film{% endblock %}

{% block edit_top_buttons %}
    <div class="float-right">
        <a class="btn btn-secondary" href="{{ path('admin_movie_index') }}">Retour à la liste</a>
    </div>
    <div class="float-right">
        <a class="btn btn-secondary" href="{{ path('show', {'id': movie.id}) }}">Voir le film</a>&nbsp;
    </div>
    <div class="float-right mr-1">
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Supprimer le film">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}

{% block edit_content %}

    {{ include('admin/movie/movie_form/movie_form.html.twig', {'form': edit_form}) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('js/admin/add_tag.js') }}"></script>
    <script src="{{ asset('js/admin/collection_holder.js') }}"></script>
{% endblock %}