{% extends 'admin/layout/list.html.twig' %}

{% block title %}Admin - Movies List{% endblock %}
{% block list_title %}Admin - Movies List{% endblock %}

{% block list_top_buttons %}
    <a class="btn btn-success" href="{{ path('admin_movie_new') }}">Enregistrer un nouveau film</a>
{% endblock %}

{% block list_content %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Director</th>
                <th>Actors</th>
                <th>Year</th>
                <th>Duration</th>
                <th>Rating</th>
                <th>Genre</th>
                <th>Poster</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td><a href="{{ path('show', { 'id': movie.id }) }}">{{ movie.id }}</a></td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.actors }}</td>
                <td>{{ movie.year }}</td>
                <td>{{ movie.duration }}</td>
                <td>{{ movie.rating }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.poster }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{{ path('admin_movie_edit', { 'id': movie.id }) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}