{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Home{% endblock %}

{% block body %}

	<div class="col-md-3 pl-3">
        {% if movie.poster != "" %}
			<img class="movie-cover" src="{{ asset('images/posters/' ~ movie.poster.filename) }}" />
        {% endif %}
	</div>
	<div class="col-md-5 pl-5 pr-5 movie-infos">
		<div class="float-right">
			{% for i in 1..movie.rating %}
				<img src="/images/yellow-star.png" class="yellow-star" />
			{% endfor %}
		</div>

		<h3>{{ movie.title }}</h3>

		<ul class="movie-small-infos">
			<li class="small-info-green">{{ movie.genre }}</li>
			<li class="small-info-red text-center">{{ movie.year }}</li>
			<li class="small-info-pink text-right"> {{ movie.duration }} min</li>
		</ul>
		<div class="movie-main-infos">
			<p>Réalisateur : {{ movie.director }}</p>
			<p>Acteurs :
                {% for role in movie.roles %}
					{% if role.role == "actor" %}
						{{ role.person.fullname }},&nbsp
					{% endif %}
                {% endfor %}
			<p>
				Synopsis :<br /><br />
                {{ movie.synopsis|raw }}
			</p>
		</div>
		<h4 class="text-center">
			<br />
			<a href="{{ path('homepage') }}">Un Autre Film Au Hasard</a>
		</h4>
	</div>

{% endblock %}
