{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Tous les acteurs{% endblock %}

{% block body %}
	<div class="container">	
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-2">
					<h3>YOU COULD LIKE TOO</h3>
					<img class="img-thumbnail" src="{{ asset('images/fake-posters/inception-1.jpg') }}" />										
					<img class="img-thumbnail" src="{{ asset('images/fake-posters/moonrise-kingdom.jpg') }}" />										
					<img class="img-thumbnail" src="{{ asset('images/fake-posters/showgirls.jpg') }}" />										
					<img class="img-thumbnail" src="{{ asset('images/fake-posters/the-rum-diary.jpg') }}" />															
				</div>
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-12">
							<h2 class="text-center">Tous les acteurs</h2>
							<hr />
							{% set lettre = '' %}
							{% for actor in actors %}
								{% if actor.lastname|slice(0,1) != lettre %}
									{% set lettre = actor.lastname|slice(0,1) %}
									<h4>{{ lettre }}</h4>
								{% endif %}
								<a href="{{ path('show_actor', { 'id' : actor.id }) }}">{{ actor.getFullName() }}</a><br/>
							{% endfor %}
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
