<nav class="row">
	<div class="col-md-4">
		<h1 id="site-title">Randomovies</h1>
	</div>

	<div class="col-md-8">
		<ul class="custom-navbar">
			<li class="{{ app.request.get('_route') == 'homepage' ? 'active' : '' }}">
				<a href="{{ path('homepage') }}">Film Au Hasard</a>
			</li>
			<li class="{{ app.request.get('_route') == 'list' ? 'active' : '' }}"
				><a href="{{ path('list') }}">Tous Les Films</a>
			</li>
			<li class="{{ app.request.get('_route') == 'list_actors' ? 'active' : '' }}">
				<a href="{{ path('list_actors') }}">Tous Les Acteurs</a>
			</li>
			<li class="{{ app.request.get('_route') == 'search' ? 'active' : '' }}">
				<a href="{{ path('search') }}">Outils De Recherche</a>
			</li>
			<li class="">
				<a class="" href="{{ path('admin_movie_index') }}">Admin</a>
			</li>
		</ul>
	</div>
</nav>