{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Home{% endblock %}

{% block body %}

	<div class="col-md-3 pl-3">
        {% if movie.poster != "" %}
			<img class="movie-cover" src="{{ asset('images/posters/' ~ movie.poster.filename) }}" />
        {% endif %}
	</div>
	<div class="col-md-5 pl-5 pr-5 movie-infos">
		<div class="float-right">
            {% for i in 1..movie.rating %}
				<img src="/images/yellow-star.png" class="yellow-star" />
            {% endfor %}
		</div>

		<h3>{{ movie.title }}</h3>

		<ul class="movie-small-infos">
			<li class="small-info-green">{{ movie.genre }}</li>
			<li class="small-info-red text-center">{{ movie.year }}</li>
			<li class="small-info-pink text-right"> {{ movie.duration }} min</li>
		</ul>
		<div class="movie-main-infos">
			<p>Réalisateur : {{ movie.director }}</p>
			<p>Acteurs :
                {% for role in movie.roles %}
                    {% if role.role == "actor" %}
                        {{ role.person.fullname }},&nbsp
                    {% endif %}
                {% endfor %}
			<p>
				Synopsis :<br /><br />
                {{ movie.synopsis|raw }}
			</p>
			{% if movie.review is not null %}
				<h5>Review</h5>
				{{ movie.review }}
			{% endif %}
		</div>
		<h4 class="text-center">
			<br />
			<a href="{{ path('homepage') }}">Voir Un Autre Film</a>
		</h4>
		<div class="card">
			<div class="card-header">
				<h5>Note total des commentaires</h5>
			</div>
			<div class="card-body">
				<h5>Commentaires</h5>
				Total des notes : TO DO
				<hr />
				Rate that movie:<br />
                {{ form_start(comment_form) }}
                {{ form_row(comment_form.comment) }}
                {{ form_row(comment_form.note) }}
				<input type="submit" class="btn btn-primary" value="Submit" />
                {{ form_end(comment_form) }}
				<hr />
                {% for comment in movie.comments %}
					<strong>{{ comment.user.username }} said:</strong><br />
                    {{ comment.comment }}<br />
                    {{ comment.note }} / 5<br />
                {% endfor %}
			</div>
		</div>

	</div>
	
{% endblock %}
