{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Tous les films{% endblock %}

{% block body %}

	<div class="container">
		<div id="all-movies" class="row">
			<div class="col-md-12">

				<h2>Tous les films</h2>

				<div class="row">
                    {% for movie in movies %}
						<div class="col-md-2 all-movies-one">
							<a href="{{ path('show', { 'id' : movie.id }) }}">{{ movie.title }}
								<img src="{{ asset('images/posters/' ~ movie.poster) }}" />
								<div>
									{{ movie.title }}<br />
									{{ movie.year }}<br />
									{{ movie.genre }}
								</div>
							</a>
						</div>
                    {% endfor %}
				</div>

				{#<div class="row">#}
					{#<div class="col-md-12">#}
						{#<ul class="custom-pagination">#}
							{#<li>Précédent</li>#}
							{#<li>1</li>#}
							{#<li>2</li>#}
							{#<li>3</li>#}
							{#<li>Suivant</li>#}
						{#</ul>#}
					{#</div>#}
				{#</div>#}

			</div>
		</div>
	</div>
	
{% endblock %}
