{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Home{% endblock %}

{% block body %}
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-10 offset-md-1 search-zone">

				<h3 class="mb-5">Outils De Recherche</h3>

                {{ form_start(movieSearchForm) }}
                {{ form_widget(movieSearchForm) }}
				<input type="submit" value="Chercher" />
                {{ form_end(movieSearchForm) }}

				<h5>
					Résultats
					<div class="float-right">{{ results|length }} film(s) trouvé(s)</div>
				</h5>
				<div class="row">
                    {% for movie in results %}
						<div class="col-md-3 search-result">
							<a href="{{ path('show', { 'id' : movie.id }) }}">
								<div class="grey-bg">
									<img class="" src="{{ asset('images/posters/' ~ movie.poster) }}" />
								</div><br />
								{{ movie.title }}
							</a>
						</div>
                    {% endfor %}
				</div>

			</div>
		</div>
	</div>

{% endblock %}
