{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Accueil{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div id="suggestions-bar" class="col-md-3 col-sm-12 push-sm-12">
				<h3 class="subtitle-1 text-center">Vous Aimeriez Peut-Être Aussi</h3>

                {% for index, rando in fourRandoMovies %}
                    {% if index != 4 %}
                        {% if movie is defined %}
                            {%  if rando.id != movie.id %}
                                <a href="{{ path('show', { 'id' : rando.id }) }}">
                                    <img class="suggestion-cover" src="{{ asset('images/posters/' ~ rando.poster) }}" />
                                    <p>{{ movie.title }}</p>
                                    <small>{{ movie.genre }}, {{ movie.year }}, {{ movie.duration }} min</small>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('show', { 'id' : rando.id }) }}">
                                <img class="suggestion-cover" src="{{ asset('images/posters/' ~ rando.poster) }}" />
								<p>{{ movie.title }}</p>
								<small>{{ movie.genre }}, {{ movie.year }}, {{ movie.duration }} min</small>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
			</div>

			<div class="col-md-9 col-sm-12 pull-sm-12">
				<div id="main-movie-container">

					<div class="main-movie-cover row mb-5">
						<div class="col-md-6">
                            {% if movie.poster != "" %}
								<img class="main-cover" src="{{ asset('images/posters/' ~ movie.poster) }}" />
                            {% endif %}
						</div>
						<div class="col-md-6">
							<div class="main-movie-title">{{ movie.title }}</div>
							<div class="main-movie-stars">
                                {% for i in 1..movie.rating %}
									<img src="/images/yellow-star.png" />
                                {% endfor %}
							</div>
							<div class="main-movie-infos">
								<div class="genre">{{ movie.genre }}</div>
								<div class="year">{{ movie.year }}</div>
								<div class="duration">{{ movie.duration }} min</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-7">
							<h4>Synopsis</h4>
							<p>{{ movie.synopsis|raw }}</p>
						</div>
						<div class="col-md-5">
							<h4>Infos</h4>
							<p>Genre : {{ movie.genre }}</p>
							<p>Année : {{ movie.year }} min</p>
							<p>Durée : {{ movie.duration }} min</p>
							<p>Réalisateur : {{ movie.director }}</p>
							<p>
								Acteurs :
                                {% for role in movie.roles %}
									{% if role.role == "actor" %}
										{{ role.person.fullname }},&nbsp
									{% endif %}
                                {% endfor %}
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
                            {% if movie.review is not null %}
								<h4>Critique</h4>
                                <p>{{ movie.review }}</p>
                            {% endif %}
						</div>
						<div class="col-md-12">
							<a href="{{ path('homepage') }}" class="another-random-movie-button">
								Un Autre Film Au Hasard
							</a>
						</div>

                        {% if app.user %}
                            {% include 'comment/module.html.twig' with {'comments': movie.comments, 'comment_form': comment_form} %}
                        {% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}