{% extends 'layout.html.twig' %}

{% block title %}Admin - Movies List{% endblock %}

{% block body %}

    <div class="col-md-8">

        <div class="simply-white">

            <h1>Page account de l'utilisateur {{ app.user.username }}</h1>
            <table>
                <tr>
                    <td>Username</td>
                    <td>{{ app.user.username }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td></td>
                </tr>
            </table>

            <hr />

        </div>

        <h2 class="simply-white">Comments posted:</h2>
        <ul class="list-group">
            {% for comment in app.user.comments %}
                <li class="list-group-item">
                    {{ comment.movie.title }} ({{ comment.note }} / 5): {{ comment.comment }}
                    <div class="float-right">
                        <a href="{{ path('comment-edit', { 'id': comment.id }) }}" class="btn btn-warning">Edit</a>
                        <a href="{{ path('comment-delete', { 'id': comment.id }) }}" class="btn btn-danger">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>



    </div>

{% endblock %}