{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Fiche acteur - {{ actor.fullname }}{% endblock %}

{% block body %}
	
	<div id="contenu" class="container">
			
		<div id="acteur">				
			<div class="row">
				<div class="col-xl-4">
					{# {% for index, media in actor.medias %}
						<img class="{{ index == 0 ? 'acteur-main-pic' : 'acteur-pic' }}" alt="{{ media.name }}" src="{{ asset('images/medias/' ~ media.path) }}" />
            		{% endfor %} #}
					{% for index, file in finder %}											
						<img class="{{ index == 0 ? 'acteur-main-pic' : 'acteur-pic' }}" alt="{{ file.getRelativePathname() }}" src="{{ asset(actor_dir ~ file.getRelativePathname()) }}" />
					{% endfor %}
				</div>
				<div class="col-xl-4">
					<h2>{{ actor.getFullName() }} {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-outline-secondary" href="{{ path('admin_person_edit', { 'id': actor.id }) }}">edit</a>{% endif %}</h2>
					<h3>Infos</h3>
					<p>Date de naissance : {{ actor.birthdate|date('d/m/Y') }}</p>
					<h3>Biographie</h3>
					<p>
						{% if actor.biography is not null %}
							{{ actor.biography }}
						{% else %}
							Biography is coming...
						{% endif %}
					</p>
					<h3>Filmographie</h3>
					<ul class="filmographie">
						{% for role in actor.roles %}
							<li>
								{{ role.movie.year }} : <a href="{{ path('show', {'id':role.movie.id}) }}">{{ role.movie.title }}</a> ({{ role.personnage ?? role.role }})
							</li>
						{% endfor %}
					</ul>
					{# {% set referer = app.request.server.get('http-referer')|default('/') %} #}
					<a href={{ referer }}>Retour</a>
					{# <a href="{{ path('list_actors') }}">Retour à la liste des acteurs</a> #}
				</div>
			</div>				
		</div>		
			
	</div>		

{% endblock %}