{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Recherche avancée{% endblock %}

{% block body %}

	<div class="row main-row">

		<div class="col-md-12 search-zone">

			<div class="row">

				<div class="col-md-5">

                    {{ form_start(movieSearchForm, {'attr': {'id': 'search-form'}}) }}

                    {{ form_row(movieSearchForm.title) }}

                    {{ form_row(movieSearchForm.genre) }}

                    {{ form_row(movieSearchForm.keyWords) }}

					<div class="row">
						<div class="col-md-6">
                            {{ form_row(movieSearchForm.yearFrom) }}
						</div>
						<div class="col-md-6">
                            {{ form_row(movieSearchForm.yearTo) }}
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
                            {{ form_row(movieSearchForm.durationFrom) }}
						</div>
						<div class="col-md-6">
                            {{ form_row(movieSearchForm.durationTo) }}
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
                            {{ form_row(movieSearchForm.ratedMin) }}
						</div>
						<div class="col-md-6">
                            {{ form_row(movieSearchForm.ratedMax) }}
						</div>
					</div>

					<input class="btn randomovies-btn-confirm mt-2 mb-3" type="submit" value="Chercher" />

                    {{ form_end(movieSearchForm) }}

				</div>

				<div class="col-md-7">



					<div class="row">
                        {% for movie in results %}
							<div class="col-md-3 search-result">
								<a href="{{ path('show', { 'id' : movie.id }) }}">
									<div class="grey-bg">
										<img class="" src="{{ asset('images/posters/small/' ~ movie.poster) }}" />
									</div>
                                    {{ movie.title }}
								</a>
							</div>
                        {% endfor %}
					</div>

				</div>

			</div>
		</div>
	</div>

{% endblock %}