{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Recherche avancée{% endblock %}

{% block body %}

	<div id="contenu" class="container">			
			
		<div id="recherche">				

			{{ form_start(movieSearchForm, {'attr': {'id': 'search-form'}}) }}
			
				<div class="row">
					<div class="col-xl-2">Titre du film</div>
					<div class="col-xl-6">
						{{ form_widget(movieSearchForm.title) }}
					</div>
					<div class="col-xl-4">
						{{ form_widget(movieSearchForm.genre, {'attr': {'class': 'randomovies-form-select-fixer'}}) }}
					</div>
					<div class="col-xl-2">Mots clés</div>
					<div class="col-xl-10">
						{{ form_widget(movieSearchForm.keyWords) }}
					</div>
				</div>
				<div class="row">				
					<div class="col-xl-10 offset-xl-2 d-flex flex-md-row flex-column justify-content-between">
						<div class="recherche-widget">
							Date min<br />
							{{ form_widget(movieSearchForm.yearFrom) }}
						</div>
						<div class="recherche-widget">
							Date max<br />
							{{ form_widget(movieSearchForm.yearTo) }}
						</div>
						<div class="recherche-widget">
							Durée min<br />
							{{ form_widget(movieSearchForm.durationFrom) }}
						</div>
						<div class="recherche-widget">
							Durée max<br />
							{{ form_widget(movieSearchForm.durationTo) }}
						</div>
						<div class="recherche-widget">
							Note min<br />
							{{ form_widget(movieSearchForm.ratedMin, {'attr': {'class': 'randomovies-form-select-fixer'}}) }}
						</div>
						<div class="recherche-widget">
							Note max<br />
							{{ form_widget(movieSearchForm.ratedMax, {'attr': {'class': 'randomovies-form-select-fixer'}}) }}
						</div>
					</div>
				</div>
				<div class="row">				
					<div class="col-xl-10 offset-xl-2 text-right">
						<button class="basic-btn mt-1">Rechercher</button>
					</div>
				</div>
			</div>

			{{ form_end(movieSearchForm) }}

			<div class="row">	
				<div class="col-xl-10 offset-xl-2 mt-5">
					<div class="row">
						{% for movie in results %}
							<div class="recherche-movie col-xl-3 col-lg-4 col-md-6">
								<a href="{{ path('show', { 'id' : movie.id }) }}">						
									<img src="{{ asset('images/posters/small/' ~ movie.poster) }}" width="100%"  />								
									{{ movie.title }}
								</a>
							</div>
						{% endfor %}
					</div>				
				</div>
			</div>

		</div>	

	</div>

{% endblock %}