{% extends 'admin/layout/edit.html.twig' %}

{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}

{% block title %}Admin - Person Edit{% endblock %}
{% block edit_title %}Editer une personne{% endblock %}

{% block edit_top_buttons %}
    <div class="float-right">
        <a class="btn btn-secondary" href="{{ path('admin_person_index') }}">Retour à la liste</a>
    </div>
    <div class="float-right">
        <a class="btn btn-secondary" href="{{ path('show_actor', {'id': person.id}) }}">Voir la fiche</a>&nbsp;
    </div>
    <div class="float-right mr-1">
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Supprimer la personne">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}

{% block edit_content %}

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-2">
            {{ form_label(edit_form.firstname) }}
        </div>
        <div class="col-md-4">
            {{ form_widget(edit_form.firstname) }}
        </div>
        <div class="col-md-2">
            {{ form_label(edit_form.lastname) }}
        </div>
        <div class="col-md-4">
            {{ form_widget(edit_form.lastname) }}
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            {{ form_label(edit_form.birthdate) }}
        </div>
        <div class="col-md-4">
            {{ form_widget(edit_form.birthdate) }}
        </div>
        <div class="col-md-2">
            {{ form_label(edit_form.gender) }}
        </div>
        <div class="col-md-4">
            {{ form_widget(edit_form.gender) }}
        </div>
    </div>

    <br />
    {{ form_row(edit_form.biography) }}

    <br />
    {% for media in edit_form.medias %}
        <div class="row mb-2">
            <div class="col-md-6">
                {{ form_row(media) }}
            </div>
            <div class="col-md-6">
                {% if media.vars.data.path is not null %}
                    <img class="media-preview" src="{{ asset('images/medias/' ~ media.vars.data.path) }}" />
                    <div class="media-delete-btn">
                        <a href="{{ path('media-delete', {'person':person.id, 'media':media.vars.data.id}) }}" class="btn btn-sm btn-danger">Supprimer l'image</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <input class="btn btn-success" type="submit" value="Enregistrer" />

    {{ form_end(edit_form) }}

{% endblock %}