{% extends 'layout.html.twig' %}

{% block title %}Admin - Movies List{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron">

            <h1>Person edit</h1>
            <hr />

            {{ form_start(edit_form) }}
                <div class="row">
                    <div class="col-md-2">
                        {{ form_label(edit_form.firstname) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(edit_form.firstname) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(edit_form.lastname) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(edit_form.lastname) }}
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        {{ form_label(edit_form.birthdate) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(edit_form.birthdate) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(edit_form.gender) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(edit_form.gender) }}
                    </div>
                </div>

                <br />
                {{ form_row(edit_form.biography) }}

                <br />
                {% for media in edit_form.medias %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(media) }}
                        </div>
                        <div class="col-md-6">
                            {% if media.vars.data.path is not null %}
                                <img class="media-preview" src="{{ asset('images/medias/' ~ media.vars.data.path) }}" />
                                <a href="{{ path('media-delete', {'person':person.id, 'media':media.vars.data.id}) }}" class="btn btn-sm btn-danger">Delete image</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <a class="btn btn-warning" href="{{ path('admin_person_index') }}">Back to the list</a>
                <input class="btn btn-success" type="submit" value="Edit" />

            {{ form_end(edit_form) }}

            <br />

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete person">
            {{ form_end(delete_form) }}


        </div>
    </div>

{% endblock %}
