<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Randomovies">
		<meta name="author" content="CopierAndColler">
		<!--<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />-->

		<title>{% block title %}Randomovies - {% endblock %}</title>

		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/fontawesome.css') }}">

        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
		{% endblock %}

{#		hack for domain redirection#}
		<script type="text/javascript">
			function setDocumentTitle() {
				window.top.document.title = "{{ block('title') }}";
			}
		</script>
	</head>

	<body onload="setDocumentTitle();" class="{% block body_class %}public{% endblock %}">
		
		{% for label, messages in app.flashes(['danger', 'success', 'warning']) %}
			<div id="layout-alert-container">
				{% for message in messages %}
					<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ message }}
					</div>				
				{% endfor %}
			</div>
		{% endfor %}

    	{% include 'menu.html.twig' %}

		{% block body %}{% endblock %}

		<script src="{{ asset('js/fontawsome.js') }}"></script>
		<script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
		<script src="{{ asset('js/popper.min.js') }}"></script>
		<script src="{{ asset('css/bootstrap.min.js') }}"></script>
		
		<script>
			
			$(function(){
				
				// inside minimal menu open submenus
				$('#sub-minimal-menu .with-subsubmenu .clickable').on('click', function() {
					var subsubmenu = $(this).parent().find('.subsubmenu');
					var iDown = $(this).parent().find('i.fas.fa-angle-down');
					var iUp = $(this).parent().find('i.fas.fa-angle-up');
					subsubmenu.toggle();
					iDown.toggle();
					iUp.toggle();
				});  
				
				// main menu adaptation for mobile and no hover
				$('#minimal-menu-btn-hoverable').on('click', function() {
					$('#menu li#minimal-menu-btn #sub-minimal-menu').addClass('clickable');
					$('#menu li#minimal-menu-btn #sub-minimal-menu').toggleClass('clicked');
				});
				$('#minimal-menu-btn-hoverable').on('mouseleave', function() {
					if (!$('#menu li#minimal-menu-btn #sub-minimal-menu').hasClass('clicked')) {
						$('#menu li#minimal-menu-btn #sub-minimal-menu').removeClass('clickable');
					}
				});


				
			}); 
		
		</script>

		{% block javascripts %}
		
		{% endblock %}

	</body>
</html>