<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Randomovies">
		<meta name="author" content="CopierAndColler">
		<!--<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />-->

		<title>{% block title %}Randomovies - {% endblock %}</title>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
		<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
	</head>

	<body id="{% block body_id %}home-body{% endblock %}">		
		
		{% for label, messages in app.flashes(['danger', 'success', 'warning']) %}
			<div id="layout-alert-container">
				{% for message in messages %}
					<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ message }}
					</div>				
				{% endfor %}
			</div>
		{% endfor %}

    	{% include 'menu.html.twig' %}

		<main class="row">
			<div id="submenu" class="col-xl-3 col-lg-4">
				<div class="row">
					<div id="submenu-search" class="col-lg-12">
						<form method="post" action="{{ path('search') }}">
							<input name="title" type="text" placeholder="Recherche rapide" /><i class="fas fa-search"></i>
							<input type="submit" value="Go !"/>
						</form>
					</div>
					<div id="submenu-categories" class="col-md-12">
						<div class="row">
							<div class="col-lg-12 col-md-6">
								Catégories
								<ul>
		                            {% for category in distinctCategories %}
										<li>
											<a href="{{ path('homepage') }}?category={{ category.genre|camelize }}">
		                                        {{ category.genre }}
											</a>
										</li>
		                            {% endfor %}
								</ul>
							</div>
							<div class="col-lg-12 col-md-6">
								{% if is_granted('ROLE_CONTRIBUTOR') %}
									Admin
									<ul>
										<li>
											<a href="{{ path('admin_movie_index') }}">Admin Movie Index</a>
										</li>
										<li>
											<a href="{{ path('admin_person_index') }}">Admin Person Index</a>
										</li>
										<li>
											<a href="{{ path('admin_tag_index') }}">Admin Tag Index</a>
										</li>
										{% if is_granted('ROLE_ADMIN') %}
										<li>
											<a href="{{ path('admin-import') }}">Admin Import</a>
										</li>
										<li>
											<a href="{{ path('easyadmin') }}">Easyadmin</a>
										</li>
										{% endif %}
									</ul>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="{% block main_id %}main-container{% endblock %}" class="col-xl-9 col-lg-8">

                {% block body %}{% endblock %}

			</div>
		</main>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
		{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/popper.min.js"></script>#}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		{#<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>#}

		<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

		{% block javascripts %}{% endblock %}
	</body>
</html>