<ul id="menu">
	<li id="title" class="minimal-menu">
		{{ a_generate_from_route('homepage', '<i class="fas fa-film"></i> Randomovies')|raw }}
	</li>
	<li class="{{ app.request.get('_route') == 'homepage' ? 'accent' : 'mono' }}">
		{{ a_generate_from_route('homepage', 'Au hasard')|raw }}
	</li>
	<li>
		Genres <i class="fas fa-angle-down"></i>
		<ul class="submenu">
			{% for category in distinctCategories %}
				<li>
					{{ a_generate(path('homepage')~'?category='~category.genre|camelize, category.genre)|raw }}
				</li>
			{% endfor %}			
		</ul>
	</li>
	<li class="{{ app.request.get('_route') == 'list_movies' ? 'accent' : 'mono' }}">
		{{ a_generate_from_route('list_movies', 'Films')|raw }}
	</li>
	<li class="{{ app.request.get('_route') == 'list_actors' ? 'accent' : 'mono' }}">
		{{ a_generate_from_route('list_actors', 'Acteurs')|raw }}
	</li>
	<li class="{{ app.request.get('_route') == 'search' ? 'accent' : 'mono' }}">
		{{ a_generate_from_route('search', 'Recherche')|raw }}
	</li>
	<li class="{{ app.request.get('_route') == 'recommendations' ? 'accent' : 'mono' }}">
		{{ a_generate_from_route('recommendations', 'Suggestions')|raw }}
	</li>
	<li class="{{ app.request.get('_route') == 'create-suggestion' ? 'accent' : 'mono' }}">
		{{ a_generate_from_route('create-suggestion', 'Proposer')|raw }}
	</li>
	<li>
		{% if app.user %}
			<img class="main-user-photo" src="{{ app.user.photo ? asset('images/users/photos/small/' ~ app.user.photo) : "/images/my-profile.png" }}" /> {{ app.user.username }} <i class="fas fa-angle-down"></i>
			<ul class="submenu">
				<li>
					{{ a_generate_from_route('user-account', 'Mon Compte')|raw }}
				</li>
				{% if is_granted('ROLE_CONTRIBUTOR') %}
							<li>
								{{ a_generate_from_route('admin_movie_index', 'Admin')|raw }}
							</li>
							{% if is_granted('ROLE_ADMIN') %}
							<li>
								{{ a_generate_from_route('admin-import', 'Import')|raw }}
							</li>
							<li>
								{{ a_generate_from_route('easyadmin', 'Easyadmin')|raw }}
							</li>
							{% endif %}
						{% endif %}
				<li>
					{{ a_generate_from_route('logout', 'Déconnexion')|raw }}
				</li>
			</ul>
		{% else %}
			<img class="main-user-photo" src="/images/my-profile.png" /> Zone membre <i class="fas fa-angle-down"></i>
			<ul class="submenu">
				<li>
					{{ a_generate_from_route('login', 'Se connecter')|raw }}
				</li>
				<li>
					{{ a_generate_from_route('user_registration', 'S\'inscrire')|raw }}
				</li>
			</ul>
		{% endif %}
	</li>
	<li id="minimal-menu-btn" class="minimal-menu">		
		<div id="minimal-menu-btn-hoverable">
			<i class="fas fa-bars"></i>
		</div>
		<ul id="sub-minimal-menu" class="hoverable">

			{% if app.user %}
				<li class="with-subsubmenu">
					<div class="clickable"><img class="main-user-photo" src="{{ app.user.photo ? asset('images/users/photos/small/' ~ app.user.photo) : "/images/my-profile.png" }}" /> {{ app.user.username }} <i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i></div>
					<ul class="subsubmenu">
						<li>
							{{ a_generate_from_route('user-account', '<i class="fas fa-arrow-right"></i> Mon Compte')|raw }}
						</li>
						{% if is_granted('ROLE_CONTRIBUTOR') %}
							<li>
								{{ a_generate_from_route('admin_movie_index', '<i class="fas fa-arrow-right"></i> Admin')|raw }}
							</li>
							{% if is_granted('ROLE_ADMIN') %}
							<li>
								{{ a_generate_from_route('admin-import', '<i class="fas fa-arrow-right"></i> Import')|raw }}
							</li>
							<li>
								{{ a_generate_from_route('easyadmin', '<i class="fas fa-arrow-right"></i> Easyadmin')|raw }}
							</li>
							{% endif %}
						{% endif %}
						<li>
							{{ a_generate_from_route('logout', '<i class="fas fa-arrow-right"></i> Déconnexion')|raw }}
						</li>
					</ul>
				</li>			
			{% else %}
				<li class="with-subsubmenu">
					<div class="clickable"><img class="main-user-photo" src="/images/my-profile.png" /> Zone membre <i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i></div>
					<ul class="subsubmenu">
						<li>
							{{ a_generate_from_route('user_registration', '<i class="fas fa-arrow-right"></i> S\'inscrire')|raw }}
						</li>
						<li>
							{{ a_generate_from_route('login', '<i class="fas fa-arrow-right"></i> Se connecter')|raw }}
						</li>
					</ul>
				</li>			
			{% endif %}

			<li>
				{{ a_generate_from_route('homepage', 'Au hasard')|raw }}
			</li>
			<li class="with-subsubmenu">
				<div class="clickable">Genres <i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i></div>
				<ul class="subsubmenu">
					{% for category in distinctCategories %}
						<li>
							{{ a_generate(path('homepage')~'?category='~category.genre|camelize, '<i class="fas fa-arrow-right"></i> '~category.genre) }}
						</li>
					{% endfor %}
				</ul>
			</li>
			<li>
				{{ a_generate_from_route('list_movies', 'Films') }}
			</li>
			<li>
				{{ a_generate_from_route('list_actors', 'Acteurs') }}
			</li>
			<li>
				{{ a_generate_from_route('search', 'Recherche') }}
			</li>
			<li>
				{{ a_generate_from_route('recommendations', 'Suggestions') }}
			</li>
			<li>
				{{ a_generate_from_route('create-suggestion', 'Proposer') }}
			</li>
		</ul>
	</li>
</ul>
