<nav class="row">
	<div id="site-title" class="col-xl-3 col-lg-4 col-md-12">
        <h1>Randomovies</h1>
	</div>
	<div id="menu" class="col-xl-7 col-lg-4 col-md-6 col-sm-6">
		<div class="row">
			<div id="menu-list-container" class="col-sm-12">
				<ul>
					<li>
						Menu&nbsp;&nbsp;<i class="fas fa-angle-double-down"></i>
					</li>
					<li class="{{ app.request.get('_route') == 'homepage' ? 'active' : '' }}">
						<a href="{{ path('homepage') }}">Au hasard</a>
					</li>
					<li class="{{ app.request.get('_route') == 'list_movies' ? 'active' : '' }}">
						<a href="{{ path('list_movies') }}">Films</a>
					</li>
					<li class="{{ app.request.get('_route') == 'list_actors' ? 'active' : '' }}">
						<a href="{{ path('list_actors') }}">Acteurs</a>
					</li>
					<li class="{{ app.request.get('_route') == 'search' ? 'active' : '' }}">
						<a href="{{ path('search') }}">Recherche</a>
					</li>
					{% if is_granted('ROLE_USER') %}
						<li class="{{ app.request.get('_route') == 'recommendations' ? 'active' : '' }}">
							<a href="{{ path('recommendations') }}">Recommandations</a>
						</li>
						<li class="{{ app.request.get('_route') == 'create-suggestion' ? 'active' : '' }}">
							<a href="{{ path('create-suggestion') }}">Suggestions</a>
						</li>
					{% endif %}
					{#
					{% if is_granted('ROLE_CONTRIBUTOR') %}
						<li class="{{ app.request.get('_route') == 'admin_movie_index' ? 'active' : '' }}">
							<a href="{{ path('admin_movie_index') }}">Admin</a>
						</li>
					{% endif %}
					#}
					<li>
						<i class="fas fa-angle-double-up"></i>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="my-account-menu" class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
		{% if app.user %}
			<a id="link-for-account-menu" href="">
				<img src="{{ app.user.photo ? asset('images/users/photos/small/' ~ app.user.photo) : "/images/my-profile.png" }}" /> &nbsp;{{ app.user.username }} &nbsp;<i class="fas fa-chevron-circle-down"></i>
			</a>
			<div id="account-menu" class="">
				<ul>
					<li>
						<a href="{{ path('user-account') }}"> Mes données</a>
					</li>
					<li>
						<a href="{{ path('logout') }}">Logout</a>
					</li>
				</ul>
			</div>
		{% else %}
			<a id="link-for-account-menu" href="">
				<img src="/images/my-profile.png" /> &nbsp;Zone membre &nbsp;<i class="fas fa-chevron-circle-down"></i>
			</a>
			<div id="account-menu" class="">
				<ul>
					<li>
						<a href="{{ path('login') }}">Login</a>
					</li>
					<li>
						<a href="{{ path('user_registration') }}">Register</a>
					</li>
				</ul>
			</div>
		{% endif %}
	</div>
</nav>