{% extends 'admin/layout/list.html.twig' %}

{% block title %}Admin - Tag List{% endblock %}
{% block list_title %}Liste des tags{% endblock %}

{% block list_top_buttons %}
    <a class="btn btn-success" href="{{ path('admin_tag_new') }}">Créer un nouveau tag</a>
{% endblock %}

{% block list_content %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Associated Movies</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.name }}</td>
                <td></td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{{ path('admin_tag_edit', { 'id': tag.id }) }}">Editer</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('admin_tag_delete', { 'id': tag.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}