{% extends 'layout.html.twig' %}

{% block title %}Admin - Movies List{% endblock %}

{% block body %}

    <div id="my-account" class="row">

        <div class="col-md-4">
            <h2>Mon compte</h2>
			<hr />
            <p>Nom d'utilisateur : {{ app.user.username }}</p>
            <p>Email : {{ app.user.email }}</p>
            <p>Nom : </p>
            <p>Prénom : </p>
            <p>Date de naissance : </p>
            <a href="{{ path('user-edit') }}" class="btn randomovies-btn-confirm">Modifier mes informations</a>
        </div>

        <div class="col-md-8">
            <h2>Mes commentaires / Mes notes</h2>
			<hr />
            <ul class="list-group">
                {% for comment in app.user.comments %}
                    <li class="list-group-item">
                        <div class="float-right">&nbsp;
                            <a href="{{ path('comment-edit', { 'id': comment.id }) }}" class="btn btn-warning">Edit</a>
                            <a href="{{ path('comment-delete', { 'id': comment.id }) }}" class="btn btn-danger">Delete</a>
                        </div>
                        {{ comment.updatedAt|date('d/m/Y à H:m') }}<br />
                        <a href="{{ path('show', {'id': comment.movie.id}) }}">
                            <strong>{{ comment.movie.title }}</strong> ({{ comment.note }}/5)
                        </a>
                        <br />
                        {{ comment.comment }}
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}