{% extends 'layout.html.twig' %}

{% block title %}Randomovies - Mon compte{% endblock %}
{% block main_id %}main-container-private{% endblock %}

{% block body %}

    <div id="my-account" class="row">

        <div class="col-xl-4 col-lg-12">
            <h2>Mon compte</h2>
			<hr />
            <p>Nom d'utilisateur : {{ app.user.username }}</p>
            <p>Description : {{ app.user.description }}</p>
            <p>Email : {{ app.user.email }}</p>
            <p>Nom : </p>
            <p>Prénom : </p>
            <p>Date de naissance : </p>
            <a href="{{ path('user-edit') }}" class="btn randomovies-btn-confirm">Modifier mes informations</a>            
        </div>

        <div class="col-xl-8 col-lg-12">
            <h2>Mes commentaires / Mes notes</h2>
			<hr />
            <ul class="list-group">
                {% for comment in userComments %}
                    <li id="commentId{{ comment.id }}" class="list-group-item">
                        <div class="float-right">&nbsp;
                            <a href="{{ path('comment-edit', { 'id': comment.id }) }}" class="btn btn-warning">Editer</a>
                            <a href="{{ path('comment-delete', { 'id': comment.id }) }}" class="btn btn-danger">Supprimer</a>
                        </div>
                        {{ comment.updatedAt|date('d/m/Y à H:m') }}<br />
                        <a href="{{ path('show', {'id': comment.movie.id}) }}">
                            <strong>{{ comment.movie.title }}</strong> ({{ comment.note }}/5)
                        </a>
                        <br />
                        {{ comment.comment }}
                    </li>
                {% endfor %}
            </ul>
            
            {% if totalPages > 1 %}
	            <div class="text-center">
		        	{% for pageNumber in 1..totalPages %}				
						<a {{ currentPage == pageNumber ? 'class=active' : 'href=?cpage=' ~ pageNumber }}>{{ pageNumber }}</a>{% if pageNumber < totalPages %} - {% endif %}				
					{% endfor %}
				</div>
			{% endif %}
            
        </div>

    </div>

{% endblock %}