{% extends 'layout.html.twig' %}

{% block title %}Randomovies - Modifier mes informations personnelles{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

	{{ form_start(form) }}
	
		<div id="my-account" class="row">

			<div class="col-xl-6 col-lg-12">
				
				<h3>Paramètres du compte</h3>
				<hr />
				{{ form_row(form.username) }}
				{{ form_row(form.description) }}
                {{ form_row(form.email) }}                
                {{ form_row(form.plainPassword) }}						
				
				<h3>Informations personnelles</h3>
				<hr />
				
				{{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.birthdate) }}

			</div>

			<div class="col-xl-6 col-lg-12">			
				<h3>Avatar</h3>
				<hr />
				<p>Photo actuellement liée à votre profil :</p>				
				{% if app.user.photo is not null %}
					<img class="img-thumbnail" src="{{ asset('images/users/photos/medium/' ~ app.user.photo) }}" />
				{% else %}
					<br /><br /><br />
				{% endif %}
				
				<p>Changer la photo de votre profil :</p>
				{{ form_widget(form.avatar) }}
				<br />
			</div>
			
			<div class="col-xl-12 text-center">
                <a href="{{ path('user-account') }}" class="btn btn-outline-secondary">Retour</a>
				<input type="submit" class="btn btn-outline-primary" value="Enregistrer les modifications" />				
			</div>

		</div>
			
	{{ form_end(form) }}

{% endblock %}